.elementor-295 .elementor-element.elementor-element-b966d81{margin-top:42px;margin-bottom:0px;}/* Start custom CSS for shortcode, class: .elementor-element-c07c73f */.elementor-295 .elementor-element.elementor-element-c07c73f .tutor-dashboard-menu-item{
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 7px;
}

.elementor-295 .elementor-element.elementor-element-c07c73f .tutor-dashboard-menu-item active{
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 7px;
}

.elementor-295 .elementor-element.elementor-element-c07c73f .tutor-dashboard-left-menu.active{
    background-color: #4ca0e4;
}/* End custom CSS */